.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
}

.app-container {
  background-color: #161625;

  min-height: 100vh;
  font-family: 'Roboto';
  padding-left: 5vw;
}

.failure-image {
  width: 500px;
  height: 300px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.failure-msg {
  text-align: center;
  font-weight: bold;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-cowin {
  color: #64c2a6;
}

.website-logo {
  margin-right: 8px;
  width: 40px;
  height: 40px;
}

.main-heading {
  color: #ffffff;
}
